- if (params['controller'] == 'projects') and (template = template_for_current_view).present?
  = render(template, :project => project)
- else
  -# default view
  = render 'projects/index_long', :project => project
