= section(object, :projects)
.list#projects
  - projects = object.projects.order('updated_at desc').paginate(:page => 1, :per_page => 20)
  = render :partial => "projects/project", :collection => projects

= paginate( collection: projects, id: 'projects_pagination', params: { action: 'projects' } )
